{#
  used in:
  	- listing.twig
#}

{% if record is defined %}

	{% set listItem = record %}
	{% set contenttype = record.contenttype.name %}
	{% set location = record.related('locations')|first %}	
	{% set authors = "" %}
	{% if listItem.relation.person is defined %}
		{% setcontent authors = 'persons' where {id: listItem.relation.person|join(' || ')} orderby 'last_name' %}
	{% endif %}

	{% set listItemLink = structurelink(record) %}
	

<li class="list-item">
	
		<div class="item-supplementary">
		{% if (contenttype == "Publications" or contenttype == "PressReleases" or contenttype == "BlogPosts") %}
			<div class="item-image">
				<a href="{{ listItemLink }}"><img src="{{ listItem.values['image']|thumbnail() }}" alt="{{ listItem.image|title }}" /></a>
			</div>
		{% elseif contenttype == "Events" %}
			<div class="item-bigdate">
				{% include 'items/_item-date-event.twig' with {record : listItem} %}
			</div>
		{% endif %}
			
		</div><!--
	
	 --><div class="item-details">
		{% if contenttype == 'Structures' %}
			<h2 class="title"><a href="{{ listItemLink }}">{{ listItem.title }}</a></h2>
		{% elseif contenttype == 'Pages' %}
			<h2 class="title"><a href="{{ listItemLink }}">{{ listItem.title }}</a></h2>
		{% else %}
			<h2 class="title"><a href="{{ listItemLink }}">{{ listItem.title }}</a></h2>
		{% endif %}
			
			<div class="item-meta-primary">
		{% if (contenttype == "Publications" or contenttype == "PressReleases" ) %}
			{# set authors #}
			{% include 'items/_item-author.twig' with {records : authors} %}
		{% elseif contenttype == "BlogPosts" %}
			{# set author #}
			{% include 'items/_item-author.twig' with {records : authors} %}
			
			{# set readtime #}
			{#  todo: where did that came from? -> update contenttype "blogpost" #}
			{% include 'items/_item-readtime.twig' %}
		{% endif %}
			</div>
			
			<div class="item-meta-secondary">
			
			{% if (contenttype == "Publications" or contenttype == "PressReleases") %}
				{# set date #}
				{% include 'items/_item-date.twig' %}
				{# set tags#}
				{% include 'items/_item-tags.twig' %}
				
			{% elseif contenttype == "BlogPosts" %}
				{# set date #}
				{% include 'items/_item-date.twig' %}
				{# set tags #}
				{% include 'items/_item-tags.twig' %}
				{# set discus comments #}
				{% include 'items/_item-comments-link.twig' %}
				
			{% elseif contenttype == "Events" %}
				{# set location #}
				{% include 'items/_item-location.twig' with {record: location} %}
				{# set tags #}
				{% include 'items/_item-tags.twig' %}
			
			{% elseif contenttype == "Jobs" %}
				{# set date #}
				{% include 'items/_item-date.twig' %}
				{# set location #}
				{% include 'items/_item-location.twig' with {record: location} %}
				{# set department #}
				{% include 'items/_item-department.twig' %}
				
			{% elseif contenttype == "TaskForces" %}
				{# set tags #}
				{% include 'items/_item-tags.twig' %}
				
			{% elseif contenttype == "Projects" %}
				{# set tags #}
				{% include 'items/_item-tags.twig' %}
				
			{% endif %}
	
			</div>
	
			<div class="item-preview">
				
				{% if (contenttype == "Publications" or contenttype == "PressReleases" or contenttype == "BlogPosts") %}
					{{ listItem.excerpt(app.config.get('general/excerpt_length')) }}
				{% else %}
					{{ listItem.teaser }}
				{% endif %}
				
			</div>
			
			{% if (contenttype == "Publications" or contenttype == "PressReleases" ) %}
				{% include 'items/_item-filelist.twig' with {records: listItem.filelist} %}
			{% endif %}
			
		
		</div>
	
	</li>

{% endif %}

