{%- spaceless %}
{#-
NOTE: assembla #211: structure overviewpages should have LINE = special class) and no picture on block,
except when it's the Europeana Creative Site ( = one page).

fix: Special exception when slug is 'europeana creative'
AW-20150219
 -#}
{%- set linkblocktextclass = 'link-block-text' -%}
{%- if app.request.get('slug')=='europeana-creative' -%}
    {# some special behaviour for the blocks at Ecreative: no line, yes images #}
    {%- set ecreative = '1' %}
    {%- set linkblocktextclass = '' %}
{%- endif -%}

<li><div class="{{linkblocktextclass}} link-block block">
    <a href="{{ structurelink(record) }}" title="{{ child.title }}" class="b-inner">
{% if ecreative %}
        {% if child.image|length %}
        <div class="b-thumb">
            <img src="{{ child.image|image(400,300,"c") }}" alt="{{ child.image|title }}" />
        </div>
        {% endif %}
{% endif %}
        <div class="b-text">
            <h2 class="item-title">{{ child.title }}</h2>
        <p>{{ child.teaser }}</p>
        </div>
    </a>
</div></li>
{% endspaceless -%}
