{#
    breadcrumb
    - included in alle list and record templates
#}


<ul class="breadcrumbs">

    {#
        home
    #}
    <li><a href="{{ paths.root }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>Home</a></li>

    {#
        page view
    #}
    {% if record is defined %}
        {# links #}

        {# structure view record.taxonomy.structures   or record.group['slug'] is defined #}
        {#
            todo:
            http://localhost/Europeana-Professional/blogpost/blog-post-3000
            VS.
            http://localhost/Europeana-Professional/use-our-data/task-force-home/task-force-no78/
        #}
        {% if ((record.contenttype.name == 'Structures' or record.group.slug is defined) and record.contenttype.name not in [ 'Events', 'Publications' ] ) %}
            {% set breadcrumbs = breadcrumb(record) %}
            {% for bc in breadcrumbs %}
                {% if bc.title %}
                <li><a href="{{ bc.path }}">{{ bc.title }}</a></li>
                {% endif %}
            {% endfor %}

        {#
            default record view
        #}
        {% else %}
            <li><a href="{{ paths.root }}{{ record.contenttype.slug }}">{{ record.contenttype.name }}</a></li>
        {% endif %}

        {# title #}

        {% if (record.contenttype.singular_name == 'Person') %}
            <li><span class="lastitem">{{ record.first_name }} {{ record.last_name }}</span></li>
        {% else %}
            <li><span class="lastitem">{{ record.title }}</span></li>
        {% endif %}

    {% elseif tag is defined %}
        <li><span class="lastitem">{{ tag }}</span></li>

    {% elseif ('/tags/' in app.request.pathInfo) %}
        <li><span class="lastitem">{{ slug|capitalize }}</span></li>

    {#
        list view
    #}
    {% elseif records is defined %}
        <li><span class="lastitem">{{ records|first.contenttype.name }}</span></li>

    {% else %}
        <li><span class="lastitem">Sitemap</span></li>

    {% endif %}

</ul>
