{#
  used in:
    - record_page
#}

{% if record.imagelist %}
<div class="thumbnails">

    <h4>{{ record.listtitle }}</h4>

    <form {{ fileDownloadAction() }} >

        <ul class="l-grid-media {{ record.liststyle }}">

            {% for image in record.imagelist %}
            {% set fileinfo = fileInfo(image) %}
            <li>
                <div class="block block-thumb">
                    <a href="{{ image.filename|image }}" class="download" data-downloadFile="{{ image.filename }}" title="{{ image.title }}">
                         <img src="{{ image.filename|thumbnail(300,300) }}" alt="{{ image.title }}">
                    </a>
                    <div class="thumb-info">
                        <p class="thumb-title">{{ image.title }}</p>
                        <p class="thumb-size">{{ fileinfo.filesize }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li class="l-placeholder"></li>
            <li class="l-placeholder"></li>
            <li class="l-placeholder"></li>
            <li class="l-placeholder"></li>
            <li class="l-placeholder"></li>

        </ul>

    </form>

</div>
{% endif %}

