{#

  related content view. 
  if "short" is true, render a short version without image

  used in:
	- record_blogpost
	- record_event
	- record_publication
	
#}

{# 
	get all related content objects
	excepts PERSONS, JOBS
#}
{% set allRelatedContent = record.related() %}
{% set relatedExceptions = ['persons','jobs'] %}
{% set relatedContents = [] %}

{# collect all related content objects #}
{% for key, value in allRelatedContent %}
	 {% if value.contenttype.slug not in relatedExceptions %}
		{% set relatedContents = relatedContents|merge({ (key) : value}) %}
	{% endif %}
{% endfor %}

{% set records = relatedContents %}

{# 
	if less than three related content objects, get more objects by tags
#}
{% set relatedTags = '' %}

{% if records|length < 3 %}
	
	{# build tag query #}
	{% if record.taxonomy.tags is defined %}
    	{% for tag in record.taxonomy.tags %}
			{% set relatedTags = relatedTags ~ tag %}
			{% if not loop.last %}
				{% set relatedTags = relatedTags ~ ' || ' %}
			{% endif %}
    	{% endfor %}
	{% endif %}
	
	{# get content objects by tag query #}
	{% setcontent relatedContentsByTag = record.contenttype.name  where { tags: relatedTags, id: '!' ~ record.id } orderby 'datepublish DESC' limit 3 %}
	
	{% if records is empty %}
		{% set records = relatedContentsByTag %}
	{% else %}
		{# merge related content with related content by tags #}
		{% for key, value in relatedContentsByTag %}
			{% for keyRecord, valueRecord in records %}
				{% if (valueRecord.id != value.id and valueRecord.contenttype.name != value.contenttype.name) %}
					{% set records = records|merge({(key) : value}) %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
	
{% endif %}


{% if (records) %}

	{% if short %}
	<div class="related-items noimages">
	{% else %}
	<div class="related-items">
	{% endif %}
	
		<h4>You might also like: (hardcoded)</h4>
	
		<ul class="l-relatedlinks">
		
			{% for related in records|slice(0,3) %}
			
			<li class="related-item">
				{% if short %}
				<a href="{{ related.link }}">{{ related.title }}</a>
				{% else %}
				<div class="link-block block">
				    <a href="{{ related.link }}" class="b-inner">
						<div class="b-thumb">
							<img src="{{ related.image|image }}" alt="{{ related.image|title }}" />
						</div>
						<div class="b-text">
							<h2 class="item-title">{{ related.title }}</h2>
							<p>{{ related.teaser }}</p>
						</div>
					</a>
				</div>
				{% endif %}
			</li>
			{% endfor %}
			
		</ul>
		
	</div>

{% endif %}

