{% if structure is defined %}
    {% set listItemLink = structurelink(record, structure) %}
{% else  %}
    {% set listItemLink = structurelink(record) %}
{% endif %}

{% if record %}<div class="l-person block block-thumb">
    <div class="b-inner">
        <div class="b-thumb">
            <a href="{{ listItemLink }}">
                <img src="{{ record.image|image(300,400) }}" alt="{{ record.first_name }} {{ record.last_name }}" />
            </a>
        </div>
        <div class="b-text">
            <h2 class="person-name"><a href="{{ listItemLink }}">{{ record.first_name }} {{ record.last_name }}</a></h2>
            <div class="jobdetails">
                <div class="job-title">{{ record.job_title }}</div>
            </div>

            {% if record.email != '' %}
            <div class="item-sendemail">
                <a class="email" href="mailto:{{ record.email }}">
                    <svg class="icon icon-sendemail"><use xlink:href="#icon-sendemail"></use></svg>
                    {{ record.email }}
                </a>
            </div>
            {% endif %}
            {% if record.telephone_number != '' %}
            <div class="item-phone-work">
                <svg class="icon icon-phone-work">
                    <use xlink:href="#icon-phone-work"></use>
                </svg>
                <span class="tel">{{ record.telephone_number }}</span>
            </div>
            {% endif %}

            {% if record.twitter != '' %}
            <div class="item-twitter">
                <a href="{{ record.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>@{{ record.first_name }}{{ record.last_name }}</a>
            </div>
            {% endif %}

        </div>

    </div>
</div>{% endif %}