{#
  used in:
	- record_publication
	- record_event
	- generic
#}



{% if filelist %}
<ul class="item-files moredata">
	{% for file in filelist %}
		{% set fileinfo = fileinfo(file) %}
		<li>
			<span class="file-name">
				<a href="{{ paths.files }}{{ file.filename }}">{{ fileinfo.filename }}</a>
				<span class="file-info">{{ fileinfo.filetype }} {{ fileinfo.filesize }}</span>
			</span>
			
			{#	ToDo: fileowner should be dropbox meta data
			<span class="file-owner">{ fileowner }</span>
			#}
			{% if owner != 'hide' %}
			<span class="file-date">{{ fileinfo.filedate }}</span>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endif %}

