{#
	breadcrumb
	- included in alle listviews and record pages
#}

<ul class="breadcrumbs">

	{# home #}
	<li><a href="{{ paths.root }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>Home</a></li>

	{# structure listing #}
	{% if parent is defined %}
		
		{# parent links #}
		{% if parent|length %}
			{% for bc in breadcrumbitems(record, parent) %}
				<li><a href="{{ bc.path }}">{{ bc.title }}</a></li>
			{% endfor %}
		{% endif %}
		
		{# page titel #}
		{% if (record.contenttype.name == 'Persons') %}
			<li><span class="lastitem">{{ record.first_name }} {{ record.last_name }}</span></li>
		{% else %}
			<li><span class="lastitem">{{ record.title }}</span></li>
		{% endif %}
	
	{# tags listing #}
	{% elseif ('/tags/' in app.request.pathInfo) %}
	<li><span class="lastitem">{{ slug|capitalize }}</span></li>
	
	{# listing #}
	{% elseif records is defined %}
	<li><span class="lastitem">{{ records|first.contenttype.slug|capitalize }}</span></li>
	
	{# listing -> record  #}
	{% elseif record %}
	
	{% if record.slug != 'not-found' %}
	<li><a href="{{ paths.root }}{{ record.contenttype.slug }}">{{ record.contenttype.slug|capitalize }}</a></li>
	{% endif %}
	<li><span class="lastitem">{{ record.title }}</span></li>
	
	{# listing -> search #}
	{% elseif name != "" %}
	<li><span class="lastitem">{{ name }}</span></li>
	{% endif %}
	
</ul>
