{#
	breadcrumb
	todo: 
		- only working for two levels
		- parent integration
#}
<ul class="breadcrumbs">
	{# home #}
	<li><a href="{{ paths.root }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>Europeana Professional</a></li>
	
	{# groups #}
	{% if record.group %}
		{# structure #}
		{% if record.contenttype.name == "Structures" %}
			<li><span class="lastitem">{{ record.title }}</span></li>
		{# structure -> page #}
		{% else %}
			<li><a href="{{ paths.root }}{{ record.group.slug }}">{{ record.group.name|capitalize }}</a></li>
			<li><span class="lastitem">{{ record.title }}</span></li>
		{% endif %}
		
	{# listing #}
	{% elseif records %}
	<li><span class="lastitem">{{ records|first.contenttype.slug|capitalize }}</span></li>
	{# listing -> record #}
	{% elseif record %}
	<li><a href="{{ paths.root }}{{ record.contenttype.slug }}">{{ record.contenttype.slug|capitalize }}</a></li>
	<li><span class="lastitem">{{ record.title }}</span></li>
	{% endif %}
	
	{# { print(app['request'].requestUri ) } #}
</ul>