<!-- Start Footer -->

{% if record is defined %}
    {# set possible subsite class #}
    {% set subsite = subsite(record)  %}
{% endif %}

{# set subsite footer #}
{% if subsite['footer'] is defined %}
    {% setcontent footer = 'footer' where { id: subsite['footer'], order: 'title'} %}
    {% setcontent location = 'location' where {id: footer.relation.locations|default([])|first, order: 'title' } returnsingle %}
    {% set logolink = subsite.path %}
{# set default footer #}
{% else %}
    {% setcontent home = 'homepage' where { id: 1, order: 'title'}  %}
    {% setcontent footer = 'footer' where { id: home.relation.footers|default([])|first, order: 'title'} %}
    {% setcontent location = 'location' where {id: footer.relation.locations|default([])|first, 'europeana_office' : '1', order: 'title' } returnsingle %}
    {% set logolink = paths.root %}
{% endif %}

<footer class="footer" role="contentinfo">
    <div class="lc">
        <div class="grid">
            <div class="l-contact">
                <div>
                    {% if footer.image %}
                    <a href="{{ logolink }}" title="{{ footer.image|title }}">
                        <img src="{{ footer.image|image }}" alt="{{ footer.values['image'].title }}">
                    </a>
                {% endif %}
                </div>

                <div class="address">
                {% if location %}
                    {{ location.title }}
                    {% for addressitem in location.geolocation.formatted_address|split(',')  %}
                        <br /> {{ addressitem }}
                    {% endfor %}
                {% endif %}
                </div>

            </div><!--

        --><div class="l-content">

                <div class="l-sitemap grid">
                <div class="l-linklist">
                    <div class="inner">
                        {% if footer.linklist_left %}
                            {{ footer.linklist_left}}
                        {% endif %}
                    </div>
                    </div><!--
             --><div class="l-linklist">
                     <div class="inner">
                        {% if footer.linklist_right %}
                            {{ footer.linklist_right}}
                        {% endif %}
                    </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="l-mission">
                        {% if footer.mission %}
                            {{ footer.mission}}
                        {% endif %}
                    </div><!--

                 --><div class="l-othersites">
                         <div class="l-linklist inline-list">
                            {% if footer.linklist_other %}
                                {{ footer.linklist_other }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!--

        --><div class="l-nextsteps">

                {% include 'items/_item-newslettersignup.twig' %}

                <div class="social-links">
                    {% if footer.socialmedia %}
                        {{ footer.socialmedia|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="sub-footer">

        {{ menu('footer', '_submenu.twig') }}

        <p class="copyright">Co-funded by the European Union.</p>

    </div>

</footer>


</div> {# closing "pusher" #}

{% include '_editbutton.twig' %}
{% include '_showenvironment.twig' %}


{#
    JS scripts includes
#}

<script src="{{ paths.theme }}js/minRead.js"></script>
<script src="{{ paths.theme }}js/init.js"></script>
<script src="{{ paths.theme }}js/pro-min.js"></script> {# = jquery.sticky.js AND pro.js minified together #}





{% if sharethis is defined %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "{{ app.config.get('general/sharethis') }}", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endif %}

{#
    google search snippet
#}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('search', '1');
var autoCompletionOptions = {
  'maxCompletions' : 5,
  'styleOptions' : {
    'xOffset' : 10
}};
google.setOnLoadCallback(function() {
  google.search.CustomSearchControl.attachAutoCompletionWithOptions(
    "009775384710117617031:r4qwwnlya8s", document.getElementById('search'), 'search_box',
    autoCompletionOptions);
});
</script>

{# Hotjar script #}
<!-- Hotjar Tracking Code for pro.europeana.eu -->
<script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:45702, hjsv:4};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
        b.getElementsByTagName("head")[0].appendChild(c); 
    })(window,document);
</script>


{# Google Analytics #}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-27537877-1', 'auto');
ga('send', 'pageview');
</script>

{# Optimizely #}
<script src="//cdn.optimizely.com/js/2239391731.js"></script>

</body>
</html>
<!-- End Footer -->
