<!doctype html>
<html lang="{{ htmllang() }}">

    <head>

        {% if curtitle is defined %}
            {% set title = curtitle %}
        {% elseif record is defined %}
            {% set title = record.title|striptags %}
        {% elseif records is defined %}
            {% set title = records|first.contenttype.name %}
        {% endif %}

        <title>{{ title|striptags }} - {{ app.config.get('general/sitename') }}</title>

        {% include 'items/_item-meta-open-graph.twig' %}

        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>

        <!-- google verification -->
        <meta name="google-site-verification" content="QWAXJTR-3xVfop_J2LUQNmrocsLfTxQtVEAly7f56bU" />

        <link rel="Shortcut Icon" href="{{ paths.theme }}images/favicon.ico" />
        <link rel="stylesheet" href="http://develop.styleguide.eanadev.org/css/pro/screen.css"  media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Open+Sans:400italic,700italic,400,700&subset=latin,greek,cyrillic' rel='stylesheet' type='text/css'>

        <script src="{{ paths.theme }}js/jquery-2.1.3.min.js"></script>
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {# LolBolt! Make sure we insert Javascript in the correct. #}
        <script></script>

    </head>

    {% if record is defined %}
        {# set possible subsite options #}
        {% set subsite = subsite(record) %}
    {% endif %}

    {# todo: change "subclass" to "theme" #}
    {% if subsite['subclass'] is defined %}
        <body class="{{ subsite['subclass'] }}">
    {% else %}
        <body class="europeana_pro">
    {% endif %}


    {# include SVG #}
    {% include 'svg/global_svg.twig' %}
    {% include 'svg/pro_svg.twig' %}


    <!-- Super global navigation -->

    <header class="header">

    <div class="menu-top">
        {# molecules-global-topdrawer #}
        <nav class="our-sites" aria-expanded="false">
            <div class="lc">
            <div class="grid">

            {% set ourSites = app.config.get('general/our_sites')  %}
            {% for site in ourSites %}
                <div class="l-linklist">
                    <div class="inner">
                    <h2 class="title h3">{{ site.title }}</h2>
                    <ul>
                        <li class="globallink">
                            <a href="{{ site.link }}">
                                <h3 class="globallink-title">{{ site.subtitle }}</h3>
                                <p class="globallink-desc">{{ site.description }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}

            </div>
            </div>
        </nav>
    </div>

    <!-- Off canvas search bar -->
    <div class="search-global">
        <div class="inner">

        {% set placeholder = 'Search Europeana Pro' %}
        {% if app.request.get('q') != NULL %}
            {% set placeholder = app.request.get('q') %}
        {% endif %}
        <form action="{{ paths.root }}search" id="search_box">
            <input type="text" id="search" name="q" placeholder="{{ placeholder }}" />
            <input type="hidden" id="filter" name="filter" value="on" />
            <button type="submit" class="search_btn">
                <svg class="icon icon-search">
                    <use xlink:href="#icon-search"></use>
                </svg>
                <span>Search</span>
            </button>
        </form>

        </div>
    </div>


    <!-- wrapper for navigation bar -->
    <div class="cf">


        {# atoms-logo #}
        <a href="{{ paths.root }}" class="logo ir" title="Home" alt="logo">Europeana</a>

        <div class="nav-global">

            <a href="#" class="nav-toggle nav-toggle-sites">
                <span>Our Sites</span>
            </a>

            <a href="#" class="nav-toggle nav-toggle-search">
                <svg class="icon icon-search">
                    <use xlink:href="#icon-search"></use>
                </svg>

                <span class="is-vishidden">Search</span>
            </a>

            <a href="#" class="nav-toggle nav-toggle-menu">
                <svg class="icon icon-menu">
                    <use xlink:href="#icon-menu"></use>
                </svg>

                <span>Menu</span>
            </a>

        </div>

        {{ menu('primary', '_menu.twig') }}


    </div>
    </header>
    <!-- End .header -->


    <nav class="drawer menu-right">

        {% set placeholder = 'Search Europeana' %}
        {% if app.request.get('q') != NULL %}
            {% set placeholder = app.request.get('q') %}
        {% endif %}
        <div class="searchfield">
            <form action="{{ paths.root }}search" class="inline-form">
                <fieldset>
                    <legend class="is-vishidden">Search</legend>
                    <label for="search-field" class="is-vishidden">Search</label>

                    <input type="search" placeholder="{{ placeholder }}" id="search-field" class="search-field" name="q" />
                    <input type="hidden" id="filter" name="filter" value="on" />

                    <button class="search-submit">
                        <svg class="icon icon-search">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                        <span class="is-vishidden">Search</span>
                    </button>
                </fieldset>
            </form>
        </div>

        {{ menu('primary', '_menu.twig') }}
    </nav>



    <!-- Main site wrapper for offcanvas navigation -->
    <div class="pusher">
