<!doctype html>
<html lang="{{ htmllang() }}">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		
        <title>{% if record.title is defined %}{{ record.title|striptags }} - {% endif %}{{ app.config.get('general/sitename') }}</title>
	
		<meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
	
		<!-- <link rel="stylesheet" href="{{ paths.theme }}css/screen.css"  media="all"/> -->
		<link rel="stylesheet" href="http://develop.styleguide.eanadev.org/css/pro/screen.css"  media="all"/>
		
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Open+Sans:400italic,700italic,400,700&subset=latin,greek,cyrillic' rel='stylesheet' type='text/css'>
		
		<script src="{{ paths.theme }}js/jquery-2.0.0b2.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body class="europeana_pro">
	
	{# include SVG #}
	{% include 'svg/global_svg.twig' %}
	{% include 'svg/pro_svg.twig' %}
	
	
	<!-- Super global navigation -->


	<header class="header">
	
	<div class="menu-top">
		{# molecules-global-topdrawer #}
		<nav class="our-sites" aria-expanded="false">
			<div class="lc">
			<div class="grid">
		
			{% for i in 0..2 %}
				<div class="l-linklist">
				<div class="inner">
		
					<h2 class="title h3">Title here</h2>
		
					<ul>
						<li class="globallink">
						<a href="#">
							<h3 class="globallink-title">headline.short</h3>
							<p class="globallink-desc">excerpt.vshort</p>
						</a>
						</li>
						<li class="globallink">
						<a href="#">
							<h3 class="globallink-title">headline.short</h3>
							<p class="globallink-desc">excerpt.vshort</p>
						</a>
						</li>
					</ul>
		
				</div>
				</div>
				{% endfor %}
		
		
			</div>
			</div>
		</nav>
	</div>
	
	<!-- Off canvas search bar -->
	<div class="search-global">
		<div class="inner">
	
		<form action="#" id="search_box">
			<input type="text" id="search" name="search" placeholder="Search Europeana" />
			<button type="submit" class="search_btn">
				<svg class="icon icon-search">
					<use xlink:href="#icon-search"></use>
				</svg>
				<span>Search</span>
			</button>
		</form>
	
		</div>
	</div>
	
	
	<!-- wrapper for navigation bar -->
	<div class="cf">
	
	
		{# atoms-logo #}
		<a href="{{ paths.root }}" class="logo ir" title="Home" alt="logo">Europeana</a>	
	
		<div class="nav-global">
	
			<a href="#" class="nav-toggle nav-toggle-sites">
				<span>Our Sites</span>
			</a>
	
			<a href="#" class="nav-toggle nav-toggle-search">
				<svg class="icon icon-search">
					<use xlink:href="#icon-search"></use>
				</svg>
	
				<span class="is-vishidden">Search</span>
			</a>
	
			<a href="#" class="nav-toggle nav-toggle-menu">
				<svg class="icon icon-menu">
					<use xlink:href="#icon-menu"></use>
				</svg>
	
				<span>Menu</span>
			</a>
	
		</div>
	
		{{ menu('primary', '_menu.twig') }}
	
	
	</div>
	</header>
	<!-- End .header -->
	
	
	<nav class="drawer menu-right">
	
		<div class="searchfield">
			mini search here	
		</div>
	
	    {{ menu('primary', '_menu.twig') }}
	</nav>
	
	
	
	<!-- Main site wrapper for offcanvas navigation -->
	<div class="pusher">
		{# set 'global' structures for path generating page and structures #}
{% setcontent STRUCTURES = 'structures' %}