{#
	breadcrumb
	todo: - only working for simple listing -> record relation
#}
<ul class="breadcrumbs">
	<li><a href="{{ paths.root }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>Europeana Professional</a></li>
	
	{# listing #}
	{% if records %}
	<li><span class="lastitem">{{ records|first.contenttype.slug }}</span></li>
	{# listing -> record #}
	{% elseif record %}
	<li><a href="{{ paths.root }}{{ record.contenttype.slug }}">{{ record.contenttype.slug }}</a></li>
	<li><span class="lastitem">{{ record.title }}</span></li>
	{% endif %}
	
</ul>