<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ app.config.get('general/sitename') }}</title>
        <atom:link href="{{ paths.currenturl }}" rel="self" type="application/rss+xml"/>
        <link>{{ paths.rooturl }}</link>
{% if app.config.get('general/payoff') is defined %}
        <description>{{ app.config.get('general/payoff') }}</description>
{% endif %}
        <language>en-us</language>
        <generator>Bolt</generator>
{% if app.request.get('tag') is not empty %}
    {% set contenttype = app.paths.current|replace({'/':''})|replace({ 'rssfeed.xml': '', 'rssfeed.rss': ''})|default('blogposts') %}
    {% setcontent records=contenttype where { tags: app.request.get('tag') } orderby '-datepublish' limit 20 allowpaging %}
{% endif %}
{% for record in records %}
            <item>
                <title>{{ record.title|striptags }}</title>
                <link>{{ paths.hosturl }}{{ record.link }}</link>
                <pubDate>
                    {{ record.datepublish|date("r") }}
                </pubDate>
                <author>
                {%- set authors = record.related('persons') -%}
                {%- if authors is iterable and record.related('network') is iterable -%}
                    {%- set authors = authors|merge(record.related('network')) -%}
                {%- endif -%}
                {%- if authors is iterable -%}
                    {%- for person in authors -%}
                       {{ person.first_name }} {{ person.last_name }}{% if (not loop.last) %},{% endif %}
                    {%- endfor -%}
                {%- else -%}
                    {{ record.user.email }} ({{ record.user.displayname }})
                {%- endif -%}
                </author>
                <guid isPermaLink="false">{{ record.contenttype.singular_slug }}/{{ record.id }}</guid>
{% if record.taxonomy.tags is defined %}
{% for category in record.taxonomy.tags %}
                <category><![CDATA[ {{ category }} ]]></category>
{% endfor %}
{% endif %}
{% if record.taxonomy.categories is defined %}
{% for category in record.taxonomy.categories %}
                <category><![CDATA[ {{ category }} ]]></category>
{% endfor %}
{% endif %}
                <description>
                {% if content_length == 0 %}
                    {{ record.rss_safe('teaser, body')|raw }}
                {% else %}
                    {{ record.rss_safe('teaser, body', content_length)|raw }}
                {% endif %}
                </description>
{% if record.image is not empty %}
                <image>{{ paths.hosturl }}{{ thumbnail(record.image, 600, 400) }}</image>
                <enclosure url="{{ paths.hosturl }}{{ thumbnail(record.image, 600, 400) }}" type="image/jpeg" />
{% endif %}
            </item>

{% endfor %}

    </channel>
</rss>
