{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            <div class="maincontent">
                {% if ( record is defined and record.title != "") %}
                    <h1 class="title">{{ record.title }}</h1>
                {% else %}
                    <h1 class="title">Network Members</h1>
                {% endif %}

                {% if ( record is defined ) %}
                    <div class="textcontent prose">
                        {% if ( record.teaser != "") %}
                            <p class="intro">{{ record.teaser|raw }}</p>
                        {% endif %}
                        {{ record.body|raw }}
                    </div>
                {% endif %}

                {# TODO this template replaces listing_networkpartner_structure.twig after the new ZOHO categories are all set #}
                {% if app.request.get('slug') in ['foundation-governing-board', 'foundation-governing-board/'] %}
                    {% set npls = [
                        "Founding Member",
                        "Network Association Management Board Member",
                        "Representative of Content Holder Associations",
                        "Representative of Specific Fields of Expertise",
                        "Member States Representative",
                        "Observer"
                    ] %}
                {% elseif app.request.get('slug') in ['management-board-members-council', 'management-board-members-council/'] %}
                    {% set npls = [
                        "Network Association Management Board",
                        "Members Council Member"
                    ]  %}
                {% elseif app.request.get('slug') in ['network-association-members', 'network-association-members/'] %}
                    {% set npls = [
                        "Network Association Member"
                    ]  %}
                {% elseif app.request.get('slug') in ['network-partners', 'network-partners/', 'partners', 'partners/'] %}
                    {% set npls = [
                        "Friend of Europeana"
                    ] %}
                {% else %}
                    {% set npls = app.config.get('contenttypes/network/fields/network_participation/values') %}
                {% endif %}

                {# {{ dump(npls) }} #}

                {% for npl in npls %}
                    {% if npl != "Partner" %}
                        {% setcontent records = 'network' where { network_participation: '%'~npl~'%' } orderby 'last_name' %}
                        {#    {{ dump(records) }} #}
                        <div class="team">
                            {% if npl != "Not a Network member" %}
                            <h2>{{ npl|default('Default network member') }}</h2>
                            {% endif %}
                            {% if records %}
                            <ul class="results-list"><!--
                                -->{% for person in records %}<!--
                                --><li>{% include 'items/_item-networkpartner-list.twig' with { record: person } %}</li><!--
                                -->{% endfor %}<!--
                            --></ul>
                            {% endif %}
                        </div>
                    {% else %}
                        {% set currentCompany = 'empty' %}
                        {% setcontent records = 'network' where { network_participation: '%'~npl~'%' } orderby 'company' %}
                        <div class="team"><!--
                                -->{% for person in records %}<!--
                                    -->{% if loop.first == false and ( person.company != currentCompany ) %}
                                        --></ul><!--
                                    -->{% endif %}<!--
                                    -->{% if ( person.company != currentCompany ) %}<!--
                                        --><h2>{{ person.company }}</h2><!--
                                        --><ul class="results-list"><!--
                                    -->{% endif %}<!--
                                    --><li>{% include 'items/_item-person-list.twig' with { record: person } %}</li><!--
                                    -->{% set currentCompany = person.company %}<!--
                                -->{% endfor %}<!--
                            --></ul><!--
                        --></div>
                    {% endif %}
                {% else %}
                    <div class="textcontent prose">
                        <p>No network partners found</p>
                    </div>
                {% endfor %}

                {% if ( record is defined and record.suffix != "") %}
                    <div class="textcontent prose">
                        {{ record.suffix|raw }}
                    </div>
                {% endif %}

                {#
                    include related items
                #}
                {% if not record.hide_related_section %}
                    {% include 'items/_item-related.twig' with {title: "Next steps", short: false} %}
                {% endif %}
            </div>
        </div><!--

     --><div class="l-sidebar">
             <div class="inner">

                {% set contacts = record.related('persons') %}
                {% if contacts is iterable %}
                    {% set contacts = contacts|merge(record.related('network')) %}
                {% else %}
                    {% set contacts = record.related('network') %}
                {% endif %}

                {% include 'items/_item-help.twig' with { records: contacts } %}

            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->



{% include '_footer.twig' %}
