{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            <div class="maincontent">
                {% if ( record is defined and record.title != "") %}
                    <div class="textcontent prose">
                        <h1 class="title">{{ record.title }}</h1>
                        <p class="intro">{{ record.intro }}</p>
                        {{ record.body|raw }}
                    </div>
                {% else %}
                    <h1 class="title">Network Members</h1>
                {% endif %}

                {% if app.request.get('slug') in ['foundation-governing-board', 'foundation-governing-board/'] %}
                    {% set npls = ["Governing Board"] %}
                {% elseif app.request.get('slug') in ['management-board-members-council', 'management-board-members-council/'] %}
                    {% set npls = ["Management Board", "Members Council"]  %}
                {% elseif app.request.get('slug') in ['network-association-members', 'network-association-members/'] %}
                    {% set npls = ["Network Association Member"]  %}
               {#  {% elseif app.request.get('slug') in ['founding-members-governing-board', 'founding-members-governing-board/', 'founding-members-and-governing-board', 'founding-members-and-governing-board/', 'europeana-foundation', 'europeana-foundation/'] %}
                    {% set npls = ["Founding Member", "Governing Board"] %}
                {% elseif app.request.get('slug') in ['management-board-members-council', 'management-board-members-council/', 'association-management-board-and-members-council', 'association-management-board-and-members-council/', 'members-council', 'members-council/'] %}
                    {% set npls = ["Association Management Board", "Association Members Council"]  %}
                {% elseif app.request.get('slug') in ['association-network-members', 'association-network-members/', 'network-members', 'network-members/'] %}
                    {% set npls = ["Association Network Member"] %} #}
                {% elseif app.request.get('slug') in ['network-partners', 'network-partners/', 'partners', 'partners/'] %}
                    {% set npls = ["Partner"] %}
                {% else %}
                    {% set npls = app.config.get('contenttypes/network/fields/network_participation/values') %}
                {% endif %}

                {# {{ dump(npls) }} #}

                {% for npl in npls %}
                    {% if npl != "Partner" %}
                        {% setcontent records = 'network' where { network_participation: '%'~npl~'%' } orderby 'last_name' %}
                        {#    {{ dump(records) }} #}
                        <div class="team">
                            {% if npl != "Not a Network member" %}
                            <h2>{{ npl|default('Default network member') }}</h2>
                            {% endif %}
                            <ul class="results-list"><!--
                                -->{% for person in records %}<!--
                                --><li>{% include 'items/_item-networkpartner-list.twig' with { record: person } %}</li><!--
                            -->{% endfor %}<!--
                        --></ul>
                        </div>
                    {% else %}
                        {% set currentCompany = 'empty' %}
                        {% setcontent records = 'network' where { network_participation: '%'~npl~'%' } orderby 'company' %}
                        <div class="team">
                        {% for person in records %}
                            {% if loop.first == false and ( person.company != currentCompany ) %}
                                --></ul>
                            {% endif %}
                            {% if ( person.company != currentCompany ) %}
                                <h2>{{ person.company }}</h2>
                                <ul class="results-list"><!--
                            {% endif %}
                                    --><li>{% include 'items/_item-person-list.twig' with { record: person } %}</li><!--
                            {% set currentCompany = person.company %}
                        {% endfor %}
                            --></ul>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="textcontent prose">
                        <p>No network partners found</p>
                    </div>
                {% endfor %}

                {% if ( record is defined and record.suffix != "") %}
                    <div class="textcontent prose">
                        {{ record.suffix|raw }}
                    </div>
                {% endif %}

                {#
                    include related items
                #}
                {% if not record.hide_related_section %}
                    {% include 'items/_item-related.twig' with {title: "Next steps", short: false} %}
                {% endif %}
            </div>
        </div><!--

     --><div class="l-sidebar">
             <div class="inner">

                 {#
                     get main contacts. definied in contenttype 'person'
                     example: field "contact_blog" -> main contact of the blogposts
                 #}

                 {% if ( record.relation.persons is defined and record.relation.persons|length ) %}
                     {% setcontent contacts = 'persons' where { id: record.relation.persons|join(' || ') } orderby 'last_name' %}
                     {% if( contacts|length and contacts is not iterable) %}
                         {% set contacts = [contacts] %}
                     {% endif %}
                     {# {% include 'items/_item-help.twig' with { records: contacts} %} #}
                 {% elseif contenttype.singular_slug is defined %}
                     {% set contacttype = ('contact_'~(contenttype.singular_slug))  %}
                     {% setcontent contacts = 'persons' where { (contacttype) : 1 } orderby 'last_name'  %}
                     {% if( contacts|length and contacts is not iterable) %}
                         {% set contacts = [contacts] %}
                     {% endif %}
                     {# {% include 'items/_item-help.twig' with { records: contacts} %} #}
                 {% endif %}

                 {% include 'items/_item-help.twig' with { records: contacts} %}
            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->



{% include '_footer.twig' %}
