{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

		<div class="l-breadcrumbs">
			{% include 'items/_item-breadcrumb.twig' %}
		</div>

		
		<div class="l-filter filters">
			<div class="is-open-globalsearch">
				<div class="search-global" style="background: none">
					<form id="search_inside" action="/Europeana-Professional/search">
					
						<fieldset>
							<input type="text" placeholder="{{ query }}" name="q" id="search_google" value="{{ query }}">
							<button class="search_btn" type="submit">
								<svg class="icon icon-search">
									<use xlink:href="#icon-search"/>
								</svg>
								<span>Search</span>
							</button>
						</fieldset>
							
						<fieldset>
					    	<h4 class="title">Include:</h4>
					        <ul class="nav">
					            <li><label for="checkbox_pages">Pages <input id="checkbox_pages" name="pages" type="checkbox" {{ searchoptions.pages }}></label></li>
					            <li><label for="checkbox_blogposts">Blog Posts <input id="checkbox_blogposts" name="blogposts" type="checkbox" {{ searchoptions.blogposts }}></label></li>
					            <li><label for="checkbox_events">Events <input id="checkbox_events" name="events" type="checkbox" {{ searchoptions.events }}></label></li>
					            <li><label for="checkbox_publications">Publications <input id="checkbox_publications" name="publications" type="checkbox" {{ searchoptions.publications }}></label></li>
					            <li><label for="checkbox_pressreleases">Press Releases<input id="checkbox_pressreleases" name="presspreleases" type="checkbox" {{ searchoptions.presspreleases }}></label></li>
					            <li><label for="checkbox_jobs">Jobs <input id="checkbox_jobs" name="jobs" type="checkbox" {{ searchoptions.jobs }}></label></li>
					            <li><label for="checkbox_persons">Persons <input id="checkbox_persons" name="persons" type="checkbox" {{ searchoptions.persons }}></label></li>
					        </ul>
					    </fieldset>
				    
					</form>
					
					<script type="text/javascript">

					$(function() {
						
					var autoCompletionOptions = {
					  'maxCompletions' : {{ searchoptions.max_autocompletions }},
					  'styleOptions' : {
					    'xOffset' : 10
					}};
					google.setOnLoadCallback(function() {
					  google.search.CustomSearchControl.attachAutoCompletionWithOptions(
					    "{{ cx }}", document.getElementById('search_google'), 'search_inside',
					    autoCompletionOptions);
					    
					});

					});
					</script>

				</div>
			</div>
		
			{#
				result number + query
			#}
			<div class="searchterms">
				<h4>{{ resultsnum }} results for "{{ query }}"<h4>
			</div>
			
			{#
				suggestion option
			#}
			{% if suggestion %}
				<div class="searchterms">
					Did you mean "<a href="{{ paths.rooturl }}search?q={{ suggestion|striptags }}">{{ suggestion|striptags }}</a>"?
				</div>
			{% endif %}
			
		</div>

		{#
			nothing found
		#}
		{% if searchresults is empty %}
			<article class="maincontent">
				<div class="textcontent">
					<div class="prose">
						<p>Unfortunately we haven't found what you are looking for, please check the spelling, or have a look at some content that may interest you.</p>
					</div>
				</div>
				{#
				{% include 'items/_item-related.twig' with {title: "You might also like:", short: true} %}
				#}
			</article>
			
		{% else %}
		
			{#
				render the search results
			#}
			<div class="maincontent">
				<div class="results">
					
					<ul class="results-list">
						{% for record in searchresults %}
						
							{#
								render "unknown" content
							#}
							{% if record.snippet is defined %}
							
								<li class="list-item">
									<div class="item-supplementary">
											<div class="item-image">
												<a href="#"><img alt="4x3 Image" src="../../images/fpo_4x3.png"></a>
											</div>
									</div><!--
								 --><div class="item-details">
										<h2 class="title"><a href="{{ record.link|striptags }}">{{ record.title|striptags }}</a></h2>
										<div class="item-preview">
											{{ record.snippet|raw }}
										</div>
									</div>
								</li>
							
							{#
								render bolt objects
							#}
							{% else %}
								
								{% include 'items/_item-list.twig' with { record: record } %}
							
							{% endif %}
							
						{% endfor %}
					</ul>
					
					{% if pager is defined %}
						{% include '_sub_pager.twig' with { class: '', surr: 2, pager: pager } %}
					{% endif %}
					
				</div>
			</div>
			
		{% endif %}
		
		</div><!--

	 --><div class="l-sidebar">

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig' %}

