{% include '_header.twig' %}

{# If 'contenttype' is a string, we get the contenttype array from config. #}
{% if contenttype is not iterable and contenttype == "Blog Posts" %}
    {% set contenttype = "blogposts" %}
{% elseif contenttype is not iterable %}
    {# Lodewijk notes: #273
        fallback to loading the contenttype from the select option in the structure
        this way - if you set it in the structure it will actually be used here
        why this was setup this way remains a mystery
    #}
    {% if record.content == 'BlogPosts' %}
        {% set contenttype = getContenttype("blogposts") %}
    {% elseif record.content == 'Events' %}
        {% set contenttype = getContenttype("events") %}
    {% elseif record.content == 'Events' %}
        {% set contenttype = getContenttype("persons") %}
    {% elseif record.content == 'PressReleases' %}
        {% set contenttype = getContenttype("pressreleases") %}
    {% elseif record.content == 'Projects' %}
        {% set contenttype = getContenttype("projects") %}
    {% elseif record.content == 'Publications' %}
        {% set contenttype = getContenttype("publications") %}
    {% elseif record.content == 'TaskForces' %}
        {% set contenttype = getContenttype("taskforces") %}
    {% elseif record.content == 'Jobs' %}
        {% set contenttype = getContenttype("Jobs") %}
    {% else %}
        {% set contenttype = getContenttype("blogposts") %}
    {% endif %}
{% endif %}
{% if contenttype is not iterable and app.config.get('contenttypes/' ~ contenttype|lower) is defined %}
    {% set contenttype = app.config.get('contenttypes/' ~ contenttype|lower) %}
        {# {{ dump(contenttype) }} #}
{% endif %}

{% if contenttype['slug'] is defined %}
    {# set order #}
    {% set order = contenttype['sort'] %}
    {% if app.request.get('order') %}
        {% set order = app.request.get('order') %}
    {% endif %}

    {# set page number #}
    {% set page = app.request.get('page', 1) %}

    {# set amount #}
    {% if contenttype['listing_records'] is defined %}
        {% set amount = contenttype['listing_records'] %}
    {% else %}
        {% set amount = app.config.get('general/listing_records') %}
    {% endif %}

    {% if records|length %}
        {# show/hide sortby item and pager #}
        {% set showsortby = false %}

        {# default list views #}
        {% if record is not defined %}

            {# tags #}
            {% if taxonomy is defined %}
                {% set showsortby = false %}
                {% set contenttype = taxonomy %}

            {% else %}
                {% set contenttype = getContenttype(records|first.contenttype.name) %}
                {% set showsortby = true %}
                {% set contenttypePager = contenttype['slug'] %}
            {% endif %}

            {# structure content #}
            {% elseif contenttype['name'] is defined %}
                {% if (contenttype['slug'] in app.config.get('general/sort_options/disabled')|keys ) %}
                    {% set contenttypePager = contenttype['slug'] %}
                    {% set showsortby = true %}
                {% endif %}
            {% endif %}
        {% endif %}
{% endif %}

{% if records|length %}
    <!-- Start content -->
    <main role="main" class="l-page">
    <div class="lc">
        <!-- Start grid -->
        <div class="grid-main">

        <div class="l-content">

        <div class="l-breadcrumbs">
            {% include 'items/_item-breadcrumb.twig' %}

            {# hide sortby template for tag- and structure listing #}
                {% if showsortby %}
                {% include 'items/_item-sortby.twig' %}
            {% endif %}
        </div>

        <div class="maincontent">

        {% if (contenttype.slug in ['blogposts', 'events', 'publications', 'pressreleases']) %}
        <div class="item-rss">
            <a href="/{{contenttype.slug}}/rss/feed.xml">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
                RSS feed
            </a>
        </div>
        {% endif %}

        <div class="results">

            {# show title and intro for structure listview #}
            {% if ( record is defined and record.title != "") %}
                <div class="page-intro">
                    <h1 class="title">{{ record.title }}</h1>
                    {% if ( record.teaser != "") %}
                        <p class="intro">{{ record.teaser|raw }}</p>
                    {% endif %}
                    {{ record.body|raw }}
                </div>
            {% endif %}

            <ul class="results-list">
            {# Bob notes: see related ticket #196, #198, #223.. What was patrick thinking when he made this?
                Just grab the blog-postings again on this page.. #}
            {% if showsortby and taxonomy is not defined and contenttype.slug == "blogposts" %}
                {% if record.slug in 'europeana-cloud-blog' %}
                    <!-- showing europeana cloud blog -->
                    {# Europeana Cloud blog posts. #}
                    {# blogposts must have the "Europeana Cloud Blog" category to appear here - see #273 #}
                    {% setcontent records = 'blogposts' where { limit : amount, order : order, page : page, blogs: "Europeana Cloud Blog" } allowpaging %}

                {% elseif record.slug in 'europeana-test-blog' %}
                    <!-- showing europeana test blog -->
                    {# Another blog, add more if needed. #}
                    {# blogposts must have the "Europeana Creative Blog" category to appear here - see #273 #}
                    {% setcontent records = 'blogposts' where { limit : amount, order : order, page : page, blogs: "Europeana Test Blog" } allowpaging %}

                {% elseif record.slug is not defined %}
                    <!-- showing europeana blog because no slug for record -->
                    {# Another blog, add more if needed. #}
                    {# blogposts must have the "Europeana Blog" category to appear here - see #273 #}
                    {% setcontent records = 'blogposts' where { limit : amount, order : order, page : page, blogs: "Europeana Blog" } allowpaging %}

                {% else %}
                    <!-- showing all blog posts -->
                    {# all blog posts. #}
                    {% setcontent records = 'blogposts' where { limit : amount, order : order, page : page } allowpaging %}

                {% endif %}
            {% endif %}

            {% if contenttype['slug'] == "events" or contenttype == 'Events' %}
                {% if order == '-end_event' %}
                    <h1>Past events</h1>
                    {% set end_event = '< today' %}
                    {% set order = '-start_event' %}
                {% else %}
                    <h1>Upcoming events</h1>
                    {% set end_event = '> today' %}
                    {% set order = 'start_event' %}
                {% endif %}

                {% setcontent records = 'events' where { limit: 6, order: order, page: page, 'end_event': end_event } allowpaging %}
            {% endif %}

            {% for listItem in records %}
                {% include 'items/_item-list.twig' with { record: listItem } %}
            {% endfor %}

            </ul>

            {% if pager is defined or taxonomy is defined %}
                {{ pager() }}
            {% endif %}


            {% if ( record is defined and record.suffix != "") %}
                <div class="textcontent prose">
                    {{ record.suffix|raw }}
                </div>
            {% endif %}
        </div>

    </div>
</div><!--

--><div class="l-sidebar">
    <div class="inner">
        {#
            get main contacts. definied in contenttype 'person'
            example: field "contact_blog" -> main contact of the blogposts
        #}

        {% if contenttype.singular_slug is defined %}
            {% set contacttype = ('contact_'~(contenttype.singular_slug))  %}
            {% setcontent contacts = 'persons' where { (contacttype) : 1 } orderby 'last_name'  %}
            {% if( contacts|length and contacts is not iterable) %}
                {% set contacts = [contacts] %}
            {% endif %}
            {% include 'items/_item-help.twig' with { records: contacts} %}
        {% else %}

            {% set contacts = record.related('persons') %}
            {% if contacts is iterable %}
                {% set contacts = contacts|merge(record.related('network')) %}
            {% else %}
                {% set contacts = record.related('network') %}
            {% endif %}

            {% include 'items/_item-help.twig' with { records: contacts } %}

        {% endif %}

        </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% endif %}

{% include '_footer.twig' %}

