            {#
                render the search results
            #}
            <div class="maincontent">
                <div class="results">
                    <ul class="results-list">
                        {% for record in searchresults %}
                      
                                

                                <li class="list-item">
                                    <div class="item-supplementary">
                                        {% if record.image %}
                                        <div class="item-image">
                                            <a href="{{ record.link|striptags }}"><img width="268px" height="auto" alt="{{ record.title|striptags }}" src="{{ record.image }}"></a>
                                        </div>
                                        {% endif %}
                                    </div><!--
                                 --><div class="item-details">
                                        <h2 class="title"><a href="{{ record.link|striptags }}">{{ record.title|striptags }}</a></h2>

                                        <div class="item-preview">

                                        {% if record.boltRecord  %}
                                            {% include 'items/_item-breadcrumb.twig' with {record : record.boltRecord} %}
                                        {% endif %}

                                        </div>

                                        <div class="item-preview">
                                            {{ record.snippet|raw }}
                                        </div>
                                    </div>
                                </li>
                            {# {% endif %} #}
                        {% endfor %}
                    </ul>

                    {% if pager is defined %}
                        {% include '_sub_pager.twig' with { class: '', surr: 2, pager: pager } %}
                    {% endif %}
                </div>
            </div>
