{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            <div class="maincontent">
                {% if ( record is defined and record.title != "") %}
                    <h1 class="title">{{ record.title }}</h1>
                {% else %}
                    <h1 class="title">Network Members</h1>
                {% endif %}

                {% if ( record is defined and record.intro != "") %}
                    <div class="textcontent prose">
                        {% if ( record.teaser != "") %}
                            <p class="intro">{{ record.teaser|raw }}</p>
                        {% endif %}
                        {{ record.body|raw }}
                    </div>
                {% endif %}

                {% setcontent records = 'network' where { network_participation: '%MC Election Candidate%' } orderby 'last_name' %}
                {# {{ dump(records) }} #}
                {% if records %}
                <div class="elections">
                    <div class="team">
                        <h2>Candidates</h2>
                        <ul class="candidates-list"><!--
                            -->{% for person in records %}<!--
                            --><li>{% include 'items/_item-electionpartner-list.twig' with { record: person } %}</li><!--
                            -->{% endfor %}<!--
                        --></ul>
                    </div>
                </div>
                {% else %}
                <div class="elections">
                    <div class="textcontent prose">
                        <p>No network partners found</p>
                    </div>
                </div>
                {% endif %}

                {% if ( record is defined and record.suffix != "") %}
                    <div class="textcontent prose">
                        {{ record.suffix|raw }}
                    </div>
                {% endif %}

                {#
                    include related items
                #}
                {% if not record.hide_related_section %}
                    {% include 'items/_item-related.twig' with {title: "Next steps", short: false} %}
                {% endif %}
            </div>
        </div><!--

     --><div class="l-sidebar">
             <div class="inner">

                {% set contacts = record.related('persons') %}
                {% if contacts is iterable %}
                    {% set contacts = contacts|merge(record.related('network')) %}
                {% else %}
                    {% set contacts = record.related('network') %}
                {% endif %}

                {% include 'items/_item-help.twig' with { records: contacts } %}

            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->



{% include '_footer.twig' %}
