{% include '_header.twig' %}

{% set event = record %}
{% set location = record.related('locations')|first %}
{% set speakers =  record.related('persons') %}


{% if event.contact %}
{% setcontent contact = 'persons' where { id: event.contact } %}
{% endif %}

<!-- Start content -->
<main role="main" class="l-page event-detail">


<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">
		

		<div class="l-content">

		<div class="l-breadcrumbs">
			{% include 'items/_item-breadcrumb.twig' %}
		</div>

		{# google map - event #}
		{% if location %}
		<div>
			<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ location.geolocation.latitude }},{{ location.geolocation.longitude }}&zoom=14&size=617x300&sensor=false&markers={{ location.geolocation.latitude }},{{ location.geolocation.longitude }}">
		</div>
		{% endif %}
		
		<div class="maincontent">
			<div class="textcontent">

				<div class="articleheader">
					<div class="cf">
						{% include 'items/_item-date-event.twig' %}
						<h1 class="title">{{ event.title }}</h1>
					</div>
					{% if location %}
					{% include 'items/_item-address.twig' with {location: location, contact: contact} %}
					{% endif %}
				</div>

				<div class="prose">
					<!-- cms wysiwyg page content starts -->
					{{ event.body|raw }}
					<!-- cms wysiwyg page content ends -->
				</div>


			</div>

			{% if speakers %}
			<div class="section speakers">
				<h2>Speakers</h2>
				<ul class="people-list">
					{% for speaker in speakers %}
						<li>{% include 'items/_item-person.twig' with { person: speaker } %}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if event.filelist %}
			<div class="section files">
				<h2>{{ event.contenttype.fields.filelist.label }}</h2>
				{% include 'items/_item-filelist-detail.twig' with { filelist: event.filelist } %}
			</div>
			{% endif %}


		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">
	 			{% if event.contact %}
				{% include 'items/_item-help.twig' with { record: contact, use_secondary_mail: event.secondary_mail } %}
				{% endif %}
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>




</main>
<!-- End Content -->


{% include '_footer.twig' %}

