{%- set curtitle = record.first_name ~ ' ' ~ record.last_name -%}
{%- set fullname = curtitle -%}
{% include '_header.twig' %}

{# as a speaker on events #}
{% set events = record.related('events') %}

{# as an author to blogposts #}
{% set blogposts = record.related('blogposts') %}

{# as an author to pressreleases #}
{% set pressreleases = record.related('pressreleases') %}

{# as an author to publications #}
{% set publications = record.related('publications') %}

{#
<!-- as a contact to pages -->
{% set pages = record.related('pages') %}

<!-- as a contact to projects -->
{% set projects = record.related('projects') %}

<!-- as a chair to task forces -->
{% set taskforces = record.related('taskforces') %}

<!-- as a contact to structures ->
{% set structures = record.related('structures') %}
#}

{% if record.boardposition != '' %}
    {% if record.network_participation is iterable %}
        {% set record.network_participation = record.network_participation|merge(record.boardposition) %}
    {% else %}
        {% set record.network_participation = record.boardposition %}
    {% endif %}
{% endif %}
<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">
        <div class="l-content">
            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            {# {{ dump(record) }} #}

            <div class="maincontent">
                {% if record.network_participation is not empty and 'MC Election Candidate' in record.network_participation %}
                     <h1 class="title">MC Election Candidate</h1>
                {% elseif record.network_participation is not empty %}
                    <h1 class="title">{{ record.network_participation|first }}</h1>
                {% endif %}

                <div class="section contact-detail">
                    <div class="l-contact-photo">
                        {% if record.image and record.contenttype.slug != 'network' %}
                            <img src="{{ record.image|image(300,400,"c") }}" alt="{{ record.image|title|default(fullname) }}" />
                        {% elseif record.image and record.contenttype.slug == 'network' and record.public_photo == 'true' %}
                            <img src="{{ record.image|image(300,400,"c") }}" alt="{{ record.image|title|default(fullname) }}" />
                        {% else %}
                             <img src="{{ app.paths.theme }}images/fpo_avatar.png" alt="{{ fullname }}" class="photo missing" />
                        {% endif %}
                    </div><!--
                    --><div class="l-contact">
                        <div class="contact-methods cf">
                            <h2 class="fn">{{ fullname }}</h2>

                            <div class="jobdetails">
                                {% if record.network_participation is not empty %}
                                    <ul class="eu-roles">
                                        {% for npl in record.network_participation %}
                                            <li><p>{{ npl }}</p></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <ul class="work-details">
                                    {%- if record.job_title -%}<li><p class="position">{{record.job_title}}</p></li>{%- endif -%}
                                    {%- if record.company -%}<li><p class="institution">{{record.company}}</p></li>{%- endif -%}
                                    {# {%- if record.department -%}<li><p class="department">{{record.department}}</p></li>{%- endif -%} #}
                                    {%- if record.country -%}<li><p class="country">{{record.country}}</p></li>{%- endif -%}
                                    {%- if record.sector -%}<li><p class="sector">{{record.sector}}</p></li>{%- endif -%}
                                </ul>

                                {% if record.public_email != '' %}
                                <div class="item-sendemail">
                                    <a class="email" href="mailto:{{ record.public_email }}">
                                        <svg class="icon icon-sendemail">
                                            <use xlink:href="#icon-sendemail"></use>
                                        </svg>
                                        <span>{{ record.public_email }}</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <div class="contact-internal">

                                {% if record.public_phone != '' %}
                                    <div class="item-phone-work">
                                        <svg class="icon icon-phone-work">
                                            <use xlink:href="#icon-phone-work"></use>
                                        </svg>
                                        <span class="tel">{{ record.public_phone }}</span>
                                    </div>
                                {% endif %}

                            </div>

                            <ul class="contact-external">
                                {% if record.twitter != '' %}
                                    <li><a href="{{ record.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>{{ record.twitter|split('/')|last }}</a></li>
                                {% endif %}
{#                                 {% if record.skype != '' %}
                                <li><a href="skype:{{ record.skype }}"><svg class="icon icon-skype"><use xlink:href="#icon-skype"></use></svg>{{ record.skype }}</a></li>
                                {% endif %} #}
                                {% if record.linkedin != '' %}
                                    <li><a href="{{ record.linkedin }}"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>{{ record.first_name }} {{ record.last_name }}</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        {% if record.network_participation is not empty and 'MC Election Candidate' in record.network_participation %}
                        <div class="candidacy-intro">
                            <blockquote>
                                {{ record.candidacy_intro }}
                            </blockquote>
                        </div>
                        {% endif %}

                        <div class="contact-additional">
                            {{ record.introduction }}

                            {% if (record.other_links_1 or record.other_links_2 or record.other_links_3 ) %}
                            <ul class="nav">
                                {% if record.other_links_1 %}
                                <li><a href="{{ record.other_links_1 }}">{{ record.other_links_1 }}</a></li>
                                {% endif %}
                                {% if record.other_links_2 %}
                                <li><a href="{{ record.other_links_2 }}">{{ record.other_links_2 }}</a></li>
                                {% endif %}
                                {% if record.other_links_3 %}
                                <li><a href="{{ record.other_links_3 }}">{{ record.other_links_3 }}</a></li>
                                {% endif %}
                            </ul>
                            {% endif %}

                        </div>


                        {% if record.company_url != "" %}
                            <ul class="nav">
                                <li><a href="{{ record.company_url }}" target="_blank">
                                    <!-- <svg class="icon icon-bookmark">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bookmark"></use>
                                    </svg> -->
                                    {{ record.company }}
                                    <svg class="icon icon-linkout">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkout"></use>
                                    </svg>
                                </a></li>
                            </ul>
                        {% endif %}

                    </div>
                </div>

                {% if events %}
                <div class="section">
                    <h2>Speaking at</h2>
                    <div class="results">
                        <ul class="results-list">
                            {% for event in events %}
                                {% include 'items/_item-list.twig' with {record: event} %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if pressreleases %}
                <div class="section">
                    <h2>Press Releases</h2>
                    <ul class="results-list">
                        {% for pressrelease in pressreleases %}
                            {% include 'items/_item-list.twig' with {record: pressrelease} %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if publications %}
                <div class="section">
                    <h2>Publications</h2>
                    <ul class="results-list">
                        {% for publication in publications %}
                            {# as an author to blogposts #}
                            {% set authors = publication.related('network') %}
                            {% include 'items/_item-list.twig' with {record: publication, authors: authors} %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if blogposts %}
                <div class="section">
                    <h2>Blog posts</h2>
                    <ul class="results-list">
                        {% for blogpost in blogposts %}
                            {# as an author to blogposts #}
                            {% set authors = blogpost.related('network') %}
                            {% include 'items/_item-list.twig' with {record: blogpost, authors: authors} %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div><!--
        --><div class="l-sidebar">
            <div class="inner">
                {# Don't display contacts in the sidebar. ----
                 {% setcontent staff_structure = 'structures/staff' returnsingle %}
                 {% set contacts = staff_structure.related('persons') %}
                 {% include 'items/_item-help.twig' with { records: contacts} %}
                 ------ #}
            </div>
        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig' %}
